@model Comment

<div>
    <div>
        <a asp-controller="Home" asp-action="User" asp-route-id="@Model.User.id">
            @Model.User.name
        </a>
    </div>
    <div>
        @Model.creationDate
    </div>
    <div>
        @Model.content
    </div>
</div>
