<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                @if (ViewBag.user == null)
                {
                    <li>
                        <a asp-area="Account" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                    </li>
                    <li>
                        <a asp-area="Account" asp-controller="Account" asp-action="Register">
                            Register
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        @ViewBag.user.name
                    </li>
                    <li>
                        <form asp-area="Account" asp-controller="Account" asp-action="Logout" method="post">
                            <input type="submit" value="Logout" />
                        </form>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
</body>
</html>
