.allButFooter {
    min-height: calc(100vh - 7rem);
}

a.Title {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

a.Post-subspace {
    color: grey;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.date {
    font-size: 1rem;
    color: gray;
}

.post-user {
    padding-inline: 5%;
    width: 40px;
    background: rgb(61, 61, 61);
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    text-align: center;
    color: rgb(0, 255, 0);
}

.post-user-text {

    color: rgb(0, 255, 0);
}    

.lead {
    white-space: pre-line;
}

/* Navbar */

#navbarSupportedContent {
    margin-top: 2rem;
}

@media (min-width: 992px) {
    #navbarSupportedContent {
        margin-top: 0;
    }

    .navbar-search-form {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 40%;
    }
}


/* Login Form style */



.rotated-text {
    padding-inline: 10%;
    width: 4rem;
    background: rgb(26, 29, 33);
    border-left: rgb(23, 26, 30) solid;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    text-align: center;
    color: rgb(0, 255, 0);
}

    .rotated-text h1 {
        margin: 0%;
    }





.navbar-search-form .input-group .form-select {
    width: 2rem; /* Set the desired width */
    max-width: 30%; /* Ensure it’s responsive */
}


/* footer styles*/

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}