@model LoginForm
@{
    ViewData["Title"] = "Login";
}
<div class="d-flex justify-content-center">
    <form asp-action="Login" method="post" class="form-horizontal col-lg-4">
        <h1>
            @ViewData["Title"]
        </h1>
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="returnTo" />
        <div class="row">
            <label asp-for="identity" class="col-sm col-form-label">
                Username/Email
            </label>
            <input type="text" asp-for="identity" class="col-sm  form-control" />
        </div>
        <div class="row mt-2">
            <label asp-for="password" class="col-sm col-form-label">
                Password
            </label>
            <input type="password" asp-for="password" class="col-sm form-control" />
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>
