@model LoginForm
@{
    ViewData["Title"] = "Login";
}
<div class="container col-12 d-flex justify-content-center">
    <div class="col-lg-6 row container p-0 align-items-center rounded-3 row-gap-3 shadow-lg">

    <div class="col-1 FormTitle align-items-center rounded-end-3 h-100 ">
        <h1>
            @ViewData["Title"]
        </h1>
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="returnTo" />
        <div class="row">
            <label asp-for="identity" class="col-sm col-form-label">
                Username/Email
            </label>
            <input type="text" asp-for="identity" class="col-sm  form-control" />
        </div>
        <div class="row mt-2">
            <label asp-for="password" class="col-sm col-form-label">
                Password
            </label>
            <input type="password" asp-for="password" class="col-sm form-control" />
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
        
    <button type="submit" class="btn btn-primary mt-3">Save Product</button>
    </form>

    </div>
</div>
