@model List<Post>
@{
    ViewData["Title"] = "Spacer";
}

<h1>
    @ViewData["Title"]
</h1>

<div>
    <h2>
        Popular Subspaces
    </h2>
    <ul>
        @foreach (var subspace in ViewBag.popularSubspaces)
        {
            <li>
                <a asp-controller="Home" asp-action="Subspace" asp-route-id="@subspace.id">@subspace.name</a>
            </li>
        }
    </ul>
</div>

<div>
    @foreach (Post post in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
    }
</div>
