@model List<Post>
@{
    ViewData["Title"] = "Search for \"" + ViewBag.searchQuery + "\"";
}

<h1>
    @ViewData["Title"]
</h1>

<div>
    @Model.Count post@(Model.Count == 1 ? "" : "s")
</div>

@foreach (var post in Model)
{
    @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
}
