@model List<Post>
@{
    ViewData["Title"] = ViewBag.subspace.name;
}

<h1>
    @ViewBag.subspace.name
</h1>

@foreach (var post in Model)
{
    @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
}
