@model Subspace
@{
    ViewData["Title"] = Model.name;
}

<div class="d-flex justify-content-between">
    <h1>
        @ViewData["Title"]
    </h1>
    @if (ViewBag.currentUser != null)
    {
        <div class="d-flex align-items-center">
            <a asp-controller="Post" asp-action="Add" asp-route-subspaceId="@Model.id" class="btn btn-primary">
                &plus; New Post
            </a>
        </div>
    }
</div>

<div class="mt-3">
    <a asp-route-sort="oldest" class="btn btn-dark">
        Oldest
    </a>
    <a asp-route-sort="newest" class="btn btn-dark">
        Newest
    </a>
</div>

<div class="mt-3 ms-2 container row row-gap-3">
    @foreach (var post in Model.posts)
    {
        @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
    }
</div>
