@model List<Post>
@{
    ViewData["Title"] = ViewBag.subspace.name;
}

<div class="d-flex justify-content-between">
    <h1>
        @ViewBag.subspace.name
    </h1>
    @if (ViewBag.currentUser != null)
    {
        <div class="d-flex align-items-center">
            <a asp-controller="Post" asp-action="New" class="btn btn-primary">
                &plus; New Post
            </a>
        </div>
    }
</div>

@foreach (var post in Model)
{
    @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
}
