@{
    ViewData["Title"] = ViewBag.userProfile.name;
}

<div class="profile-header d-flex align-items-center mb-4 p-3 rounded">
    <div>
        <h2 class="mb-0 text-uppercase">
            @ViewData["Title"]
        </h2>
    </div>
</div>

@if (ViewBag.currentUser != null && ViewBag.userProfile.id == ViewBag.currentUser.id)
{
    <div>
        <a asp-controller="Post" asp-action="Add" class="btn btn-primary">
            &plus; Add Post
        </a>
    </div>
}

<nav class="d-flex mb-3 border-bottom box-shadow">
    <a asp-controller="Home" asp-action="User" asp-route-section="posts" class="p-3 link-light @(ViewBag.selection == "posts" ? "text-success" : "")">
        <i class="fas fa-pen"></i> Posts
    </a>
    <a asp-controller="Home" asp-action="User" asp-route-section="comments" class="p-3 link-light @(ViewBag.selection == "comments" ? "text-success" : "")">
        <i class="fas fa-comment"></i> Comments
    </a>
</nav>

<div class="ms-2 row container row-gap-3">
    @if (ViewBag.selection == "posts")
    {
        if (ViewBag.content.Count == 0)
        {
            <div class="mt-2">No posts.</div>
        }
        else
        {
            foreach (Post post in ViewBag.content)
            {
                @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
            }
        }
    }
    else
    {
        if (ViewBag.content.Count == 0)
        {
            <div class="mt-2">No comments.</div>
        }
        else
        {
            foreach (Comment c in ViewBag.content)
            {

                @await Html.PartialAsync("~/Views/Shared/_Comment.cshtml", c)

            }
        }
    }
</div>
