@model Post
@{
    ViewData["Title"] = "New Post";
}

<div class=" ">
<form asp-controller="Post" asp-action="Add" method="post" class="new-post-form bg-dark row align-items-stretch rounded-3 shadow-lg" data-bs-theme="dark">
    <div class="col-2 rotated-text rounded-end-3">
        <h1>
            @ViewData["Title"]
        </h1>
    </div>
    <div class="col-10 my-5 mx-auto">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="userId" value="@ViewBag.currentUser.id" />
        <div>
            <label asp-for="forumId" class="form-label">
                Subspace
            </label>
            <select asp-for="forumId" asp-items="@(new SelectList(ViewBag.popularSubspaces, "id", "name", Model.forumId))" class="form-select"></select>
        </div>
        <div class="mt-2">
            <label asp-for="title" class="form-label">
                Title
            </label>
            <input asp-for="title" class="form-control" />
        </div>
        <div class="mt-2">
            <label asp-for="content" class="form-label">
                Content
            </label>
            <textarea asp-for="content" rows="7" class="form-control"></textarea>
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>
</div>