@model Post

@await Html.PartialAsync("~/Views/Shared/_Post.cshtml", Model)

@if (ViewBag.currentUser != null)
{
    <form asp-controller="Post" asp-action="Comment" method="post">
        <input type="hidden" name="postId" value="@Model.id" />
        <div>
            <textarea name="content" id="content" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" value="Add Comment" />
        </div>
    </form>
}

<h2>Comments</h2>

@foreach (var comment in ViewBag.comments)
{
    @await Html.PartialAsync("~/Views/Shared/_Comment.cshtml", (Comment)comment)
}
