@model Post
@{
    ViewData["Title"] = Model.title;
}

@await Html.PartialAsync("~/Views/Shared/_Post.cshtml", Model)

@if (ViewBag.currentUser != null)
{
    <div class="mt-3 p-4 rounded bg-dark">
        <form asp-controller="Post" asp-action="Comment" method="post" data-bs-theme="dark">
            <input type="hidden" name="postId" value="@Model.id" />
            <div>
                <textarea name="content" rows="3" class="form-control bg-dark text-light" placeholder="Add your comment..."></textarea>
            </div>
            <div class="mt-3 text-center">
                <input type="submit" value="Add Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
}

<h2 class="post-comments-header mt-5 mb-3 text-center">
    Comments
</h2>

<div>
    @ViewBag.comments.Count comment@(ViewBag.comments.Count == 1 ? "" : "s")
</div>

@if (ViewBag.comments.Count > 0)
{
    <div class="container row row-gap-3 mt-3">
        @foreach (Comment comment in ViewBag.comments)
        {
            <div class="col-12">
                @await Html.PartialAsync("~/Views/Shared/_Comment.cshtml", comment)
            </div>
        }
    </div>
}
